repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-added-large-files

  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: v0.6.9   # pin to a recent stable
  #   hooks:
  #     - id: ruff
  #       name: ruff (lint+fix)
  #       args: [--fix, --show-fixes]
  #     - id: ruff-format
  #       name: ruff (format)
